In [1]:
1+1

2

In [2]:
a = (1,2,3,'100yen')

In [3]:
len(a)

4

In [9]:
a[3]

'100yen'

波括弧{}で作ったものはリスト

丸括弧()で作ったものはダブル

リストだけ使えばいいと思うものはリストを使い

ダブルだけ使えばいいと思うものはリストを使う

In [12]:
a= list(a)

In [13]:
a.append(5000)

In [14]:
print(a)

[1, 2, 3, '100yen', 5000]

In [16]:
a = {1,2,3}

In [17]:
a.add(1000)

In [18]:
a

{1, 2, 3, 1000}

In [19]:
a.add(1)

In [20]:
a

{1, 2, 3, 1000}

In [22]:
a.add(10)

In [26]:
a

{1, 2, 3, 10, 1000}

In [24]:
a(0)

TypeError: 'set' object is not callable

波かっこを使ったものはsetあるいは集合と呼ばれる。
集合だから重複はない

In [28]:
a={'apple','orange'}

In [29]:
a.add('grape')

In [30]:
a

{'apple', 'grape', 'orange'}

In [31]:
a.add('grape')

In [32]:
a

{'apple', 'grape', 'orange'}

重複ありで管理したい場合となしで管理したい場合
{}と[]で使い分ける

In [35]:
'apple' in a

True

In [36]:
'pen' in a

False

In [37]:
print(a)

{'apple', 'grape', 'orange'}

In [39]:
b = {1,2,3}

In [40]:
b = set(b)

In [42]:
set(b)

{1, 2, 3}

In [43]:
b

{1, 2, 3}

In [44]:
2 in set(b)

True

In [45]:
10 in set(b)

False

In [46]:
c = [10,10,9,9,8]

In [48]:
len(c)

5

In [49]:
c = set(c)

In [50]:
c

{8, 9, 10}

set は{}に変更する

In [58]:
country_code = list(range(1,100))

In [61]:
country_code[1] = 'America'
country_code[39] = 'Italy'
country_code[86] = 'china'

In [62]:
country_code[1]

'America'

In [63]:
country_code

[1,
 'America',
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 'Italy',
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 'china',
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [64]:
81 in country_code

True

In [67]:
dic = {1:'America',39:'Italy',86:'China'}
dic[1]

'America'

In [78]:
country_coda = {1:'America',39:'Italy',86:'China'}

In [80]:
print(country_coda)

{1: 'America', 39: 'Italy', 86: 'China'}

In [81]:
country_coda[81] = 'japan'

In [83]:
print(country_coda[81])

japan

In [84]:
country_coda[81] ='Nippon'

In [86]:
print(country_coda)

{1: 'America', 39: 'Italy', 86: 'China', 81: 'Nippon'}

In [88]:
country_coda[1] = 'Nippon'

In [89]:
print(country_coda)

{1: 'Nippon', 39: 'Italy', 86: 'China', 81: 'Nippon'}

In [91]:
country_coda.pop(1)

'Nippon'

In [93]:
print(country_coda)

{39: 'Italy', 86: 'China', 81: 'Nippon'}

In [94]:
frut = {}

In [96]:
frut[140] = 'orange'

In [97]:
frut[100] = 'apple'

In [98]:
frut

{100: 'apple', 140: 'orange'}

In [100]:
code = {}
code['America'] = 1
code['Italy'] = 39
code['China'] = 86

In [104]:
code['America']

1

In [105]:
code['Italy']

39